
/*
   Custom Properties 사용자 지정 속성 선언 
*/

:root {
    --font-default-color: #1A2E35;
    --signature-color: #3F3FA8;
    --white-color: #ffffff;
    --box-color: #F5F5F5;
    --hover-custom-color: #0065FF;
    --hover-white-color: #01D4FF;



}

/*
  Font 서체 설정
*/

@font-face {
    font-family: 'InfinitySans';
    font-style: normal;
    font-weight: 400;
    src : url('../fonts/InfinitySansR-Regular.ttf');
}
    
@font-face {
    font-family: 'InfinitySans';
    font-style: normal;
    font-weight: 600;
    src : url('../fonts/InfinitySans-Bold.ttf');
}

@font-face {
    font-family: 'InfinitySans';
    font-style: condensed;
    font-weight: 600;
    src : url('../fonts/InfinitySans-CondBold.ttf');
}

@font-face {
    font-family: 'GmarketSans';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/GmarketSansTTFLight.ttf');
}

@font-face {
    font-family: 'GmarketSans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/GmarketSansTTFMedium.ttf');
}

@font-face {
    font-family: 'GmarketSans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/GmarketSansTTFBold.ttf');
}

/*
  Default 기본 설정 
*/



body {
    overflow-x: hidden;
}


a,
a:hover,
a:focus,
button {
    text-decoration: none;
}

li,
li:hover {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'GmarketSans', sans-serif;
}

/*  */
h1 {
    font-size: 29px;
    font-weight: 600;
}

p {
    font-family: 'InfinitySans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -0.75px;
    color: var(--font-default-color);

}

p.font-weight-bold {
    font-weight: 600 !important;
}



small {
    font-size: 11px;
}

/*
   커스텀 스타일
*/

.text_white {
    color: var(--white-color);
}

.text_custom {
    color: var(--signature-color);
}


.btn {
    
    padding: 12px 18px;
    font-family: 'GmarketSans';
    font-weight: 600;
    font-size: 12px;
}

.btn_rounded {
    border-radius : 19px;
}

.btn_custom_color {
    background-color: var(--signature-color);
    color: var(--white-color);
}

.btn_white_outline {
    border: 2px solid var(--white-color);
    color: var(--white-color);
}

.btn_custom_outline {
    border: 2px solid var(--signature-color);
    color: var(--signature-color);
}

.btn_custom_color:hover,
.btn_custom_color:focus,
.btn_custom_color:active {
    background-color: var(--hover-custom-color);
}
.btn_white_outline:hover,
.btn_white_outline:focus,
.btn_white_outline:active {
    border: var(--hover-white-color);
    color: var(--hover-white-color);
}
.btn_custom_outline:hover,
.btn_custom_outline:focus,
.btn_custom_outline:active {
    border: var(--hover-custom-color);
    color: var(--hover-custom-color);
}


/*
   Navbar
*/

.custom_nav_menu {
    padding: 15px 0px;
    width: 100%;
    border-radius: 0px;
    background-color: var(--white-color) !important;

    z-index: 999;
    margin-bottom: 0px;
    transition: all 0.5s ease-in-out;
    box-shadow: 0px 3px 6px #00000029;
}

.navbar-toggler {
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 0px;
    color: #ffffff;
}
.navbar button {
    border: none !important;
    padding: 0;
}